{{> header}}

<div class="container p-5">
    {{#model}}
    <div class="card">
        <div class="card-header"><b>게시글 수정</b></div>
        <div class="card-body">
            <form action="/boards/{{id}}/update" method="post" enctype="application/x-www-form-urlencoded" onsubmit="syncContent()">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="{{title}}" value= "{{title}}" name="title">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" rows="5" name="content" placeholder="{{content}}" id = "summernote">{{content}}</textarea>
                </div>
                <button class="btn btn-secondary form-control">글수정하기</button>
            </form>
        </div>
    </div>
    {{/model}}
</div>
<script>

    $('#summernote').summernote({
        height: 300,

        callbacks: {
            onPaste: function(e) {
                let clipboard = (e.originalEvent || e).clipboardData;
                let text = clipboard.getData('text');

                if (isYoutubeUrl(text)) {
                    e.preventDefault();
                    insertYoutube(text);
                }
            }
        }
    });

    function syncContent() {
        let html = $('#summernote').summernote('code');
        $('#summernote').val(html);
    }

    function isYoutubeUrl(url) {
        return url.includes("youtube.com") || url.includes("youtu.be");
    }

    function insertYoutube(url) {

        let videoId = extractYoutubeId(url);

        let iframe = `
            <iframe width="560" height="315"
            src="https://www.youtube.com/embed/${videoId}"
            frameborder="0"
            allowfullscreen></iframe>
        `;

        $('#summernote').summernote('pasteHTML', iframe);
    }

    function extractYoutubeId(url) {

        let regExp =
            /(?:youtube\.com.*(?:\\?|&)v=|youtu\.be\/)([^&]+)/;

        let match = url.match(regExp);

        return match ? match[1] : null;
    }
</script>
</body>
</html>